.header {
    display: inline-flex;
    margin-left: 40px;
    margin-right: 20px;
    color: #cccccc;
    align-items: center

}

.App-header {
    display: inline-block;
    width: 1650px;
}

.header-div {
    background-color: #5C0426;
    height: 92px;
    text-align: center;
}