/* .header {
    display: inline-flex;
    margin-left: 40px;
    margin-right: 20px;
    color: #cccccc;
    align-items: center

}
.App-header {
    display: inline-block;
    width: 1650px;
}

.header-div {
    height: 92px;
    text-align: center;
} */

/* @media screen and (max-width: 1260px) {
  .deliver {
    display: inline-block;
    justify-content: center;
    background-color: #5c0426;
    align-content: center;
    width: 100vw;
  }
} */

/* .App {
      display: inline-block;
      justify-content: center;
      width: 100vw;
    } */
