.Deliverfooter {
  background-color: #121212;
}

.Deliverfooter2 {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: #121212; */
  height: 529px;
  max-height: 529px;
  color: #676768;
  padding-top: 198px;
  margin-right: 350px;
  margin-left: 350px;
}

.boxit {
  /* font-family: Montserrat; */
  font-size: 16px;
  margin-left: 175px;
  /* margin-right: 350px; */
  color: #ffffff;
  max-width: 143px;
}

.dispatcher {
  font-family: Montserrat;
  font-weight: 800px;
  font-size: 16px;
  margin-left: 175px;
  color: #ffffff;
  max-width: 216px;
}

.bottomfooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000000;
  height: 141px;
  color: #ffffff;
  /* margin-top: 529px; */
  /* width: 100vw; */
}

.bottomfooter1 {
  margin-right: 55px;
}

.bottomfooter2 {
  margin-right: 145px;
}

.bottomfooter3 {
  margin-right: 300px;
}
