.reheader {
    justify-items: center;
  }

.reimg {
  display: flex;
  justify-content: center;
  margin: 54px;
}

.reimg2 {
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
}

.reimgs {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 70px;
  /* margin-top: 50px; */
  font-family: Lato;
  font-size: 18px;
}

.reimgs2 {
  /* display: flex; */
  justify-content: center;
  /* margin: 100px; */
  margin-top: 50px;
  margin-right: 24px;
}

.recontent {
    align-content: center;
  }

.repickup {
  font-size: 30px;
  /* font-weight: 400; */
  font-family: "Roboto Slab";
  color: #676768;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 766px;
  line-height: 50px;
}

.relorem {
  font-family: Lato;
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
}

.retext1a {
  font-family: "Roboto Slab";
  font-size: 28px;
  color: #5c0426;
  line-height: 34px;
  margin-top: 71px;
  max-width: 233px;
}

.retext1b {
  font-family: "Roboto Slab";
  font-size: 28px;
  color: #5c0426;
  line-height: 34px;
  margin-top: 71px;
  width: 338px;
  max-width: 338px;
}

.retext1c {
  font-family: "Roboto Slab";
  font-size: 28px;
  color: #5c0426;
  line-height: 34px;
  margin-top: 71px;
  max-width: 270px;
}

.retext2 {
  font-family: Lato;
  font-size: 18px;
  color: #676768;
  margin-top: 25px;
}
