.reheader {
  justify-items: center;
}

.reimg {
  display: flex;
  justify-content: center;
  margin: 54px;
}

.reimg2 {
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
}

.reimgs {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 70px;
  /* margin-top: 50px; */
  font-family: Lato;
  font-size: 18px;
}

.reimgs2 {
  /* display: flex; */
  justify-content: center;
  /* margin: 100px; */
  margin-top: 50px;
  margin-right: 24px;
}

.recontent {
  align-content: center;
}

.repickup {
  font-size: 30px;
  /* font-weight: 400; */
  font-family: "Roboto Slab";
  color: #676768;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 766px;
  line-height: 50px;
}

.relorem {
  font-family: Lato;
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
}

.retext1a {
  font-family: "Roboto Slab";
  font-size: 28px;
  color: #5c0426;
  line-height: 34px;
  margin-top: 71px;
  max-width: 233px;
}

.retext1b {
  font-family: "Roboto Slab";
  font-size: 28px;
  color: #5c0426;
  line-height: 34px;
  margin-top: 71px;
  width: 338px;
  max-width: 338px;
}

.retext1c {
  font-family: "Roboto Slab";
  font-size: 28px;
  color: #5c0426;
  line-height: 34px;
  margin-top: 71px;
  max-width: 270px;
}

.retext2 {
  font-family: Lato;
  font-size: 18px;
  color: #676768;
  margin-top: 25px;
}

#store {
  height: 70px;
}

#takeaway {
  height: 70px;
}

#group {
  height: 70px;
}

.reimgstext1 {
  max-width: 96px;
  max-height: 66px;
  margin-left: 22px;
}

.reimgstext2 {
  max-width: 131px;
  max-height: 44px;
  margin-left: 34px;
}

.reimgstext2 {
  max-width: 112px;
  max-height: 44px;
  margin-left: 32.08px;
}

@media screen and (max-width: 1260px) {
  /* #store {
    height: 10vw;
  }

  #takeaway {
    height: 10vw;
  }

  #group {
    height: 10vw;
  } */

  .reimgs {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 70px;
    /* margin-top: 50px; */
    font-family: Lato;
    font-size: 18px;
  }

  .reimg {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin: 10vw
    /* margin-left: auto; */
    /* margin-right: auto; */
  }

  .repickup {
    font-size: 18px;
    /* width: 80vw */
  }
  
  .reimg2 {
    display: inline-block;
    justify-content: center;
    width: 100vw
    /* margin-top: 50px; */
  }

  .retext1a {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .retext1b {
    font-size: 26px;
    width: 100vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .retext1c {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .reimgs2 {
    margin-left: auto;
    margin-right: auto;
  }

  .reimgs {
    margin-top: 20px
    /* text-align: center; */
    /* margin-left: auto;
    margin-right: auto; */
  }

  .retext2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
